/*15_coffeen_detail.css*/
body{
    font-family: "Inter", "Noto Sans KR", sans-serif;
}
/*------공통글씨-------*/
.subhead{
    color: var(--text-main);
    font-size: 18px;
    font-weight: 600;
}
.text{
    color: var(--text-main);
    font-size: 16px;
    font-weight: medium;
}
.smalltxt{
    color: var(--text-sub);
    font-size: 16px;
    font-weight: medium;
}

/*-------뒤로가기-------*/
.go-back {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 36px 48px 0;
    max-width: 1120px;
    margin: 0 auto;
}
#back-btn {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: medium;
    color: #726A55;
    border: none;
    background-color: transparent;
}
/*-------공통블록-------*/
.top-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 48px 60px 48px; 
    max-width: 1120px;
    margin: 0 auto;
}
.detail-container {
    width: 100%;
    height: 65vh;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 2%;
}
/*-------사진블록-------*/
.photos-container{
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
    position: relative;
    flex-shrink: 0;
}
.main-photo{
    padding: 0px;
    width: 100%;
    height: 70%;
    min-height: 0;
    aspect-ratio: 4 / 3;
    border-radius: 24px;
    overflow: hidden;
    box-sizing: border-box;
}
.sub-photo{
    display: flex;
    gap: 16px;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    box-sizing: border-box;
}
.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sub-photo img {
    flex: 1;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

/*-------정보 블록-------*/
.info-container{
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
    position: relative;
}
.info{
    border-radius: 24px;
    padding: 30px 24px;
    background-color: #FFFFFF;
    border: 1px solid #E5D5C1;
}
.rate{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px 0 3vh 0;
    gap: 6px;
}
.icon{
    width: 28px;
    height: 28px;
    padding-right: 10px;
    transform: translateY(7px);
}
.middle{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#call{
    width: 28px;
    height: 28px;
    transform: translate(3px, 8px);
    padding-right: 10px;
}
.top-inner{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#cafe-name{
    color: #726A55;
    font-weight: bold;
    font-size: 32px;
}
.share{
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #E5D5C1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
}
.btn-cluster{
    padding-top: 1.5vh;
    gap: 0.5vw;
    display: flex;
}
.review-btn{
    width: 11vw;
    min-width: 150px;
    height:7vh;
    min-height: 60px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: medium;
    background-color: #A0826D;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    gap: 8px;
}
/*----별모양 아이콘----*/
.icon-star{
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    background: url("../assets/icons/15_icon_star.svg") center/20px 20px no-repeat;
}
/*---좋아요 버튼---*/
.like-btn{
    flex: 1;
    height:7vh;
    min-height: 60px;
    background-color: #FFFFFF;
    color: #A0826D;
    font-size: 16px;
    font-weight: medium;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid #A0826D;
    gap: 4px;
}
.icon-heart {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../assets/icons/15_icon_heart.svg") center/20px 20px no-repeat;
}
.like-btn.liked .icon-heart {
    transition: color 0.2s;
    background-image: url("../assets/icons/15_icon_filled_heart.svg");
}
.like-btn #like-count {
    color: #A0826D;
    transition: color 0.1s;
}
.like-btn.liked #like-count {
    color: #e14c4c;
}

/*-------태그 블록-------*/
.tag-container{
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 30px 24px;
    background-color: #FFFFFF;
    border: 1px solid #E5D5C1;
}
.tag-cluster{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
    box-sizing: border-box;
}
.tag{
    padding: 8px 13px;
    border-radius: 50px;
    background-color: #D7E2D7;
    border: 1px solid #B1C6B1;
    /*원래 글씨 크기는 16px였는데 태그에서 유독 커보여서 줄임*/
    font-size: 14px;
    color: #726A55;
    font-weight: medium;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/*----------------하단 넘어가는 페이지 부분-----------------*/
.detailpage-container {
    width: 100%;
    border-radius: 24px;
    padding-top: 24px;
    margin-top: 4vh;
    background-color: #FFFFFF;
    border: 1px solid #E5D5C1;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}


/*-----네비게이션바------*/
.navi-bar {
    width: 92%;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: flex-start; 
    border-bottom: 1px solid #A0826D; 
    padding: 12px 32px;
    background-color: #FFFFFF;
    overflow: visible;
}
.navi-bar ul {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navi-bar a {
    font-size: 16px;
    font-weight: medium;
    color: var(--text-sub);
    text-decoration: none;
    position: relative; 
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.navi-item a span {
    display: inline-block;
}
.navi-bar ul li.has-count a {
    justify-content: center;
}
.navi-bar a::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -15px;
    width: 0;
    height: 2px;
    border-radius: 12px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        var(--primary) 50%,
        rgba(0, 0, 0, 0) 100%
    );
    transition: width 0.2s ease;
}
.navi-bar a:hover::after {
    width: calc(100% - 26px);
}
.navi-bar .has-ncount.active a {
    color: var(--primary);
    background-color: rgba(160, 130, 109, 0.08);
    box-shadow: inset 0 -4px 12px rgba(160, 130, 109, 0.08);

}
.navi-bar .navi-item.active a::after {
    width: calc(100% - 26px);
    transition: none;
}
.navi-bar .has-count.active a {
    color: var(--primary);
    background-color: rgba(160, 130, 109, 0.08);
    box-shadow: inset 0 0 12px 12px rgba(160, 130, 109, 0.08); 
}

/*----------------detail-Menu-----------------*/
/*-----소개------*/
.intro{
    padding-top: 32px;
    width: 94%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
}
.menu{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 94%;
    padding-top: 32px;
    padding-bottom: 24px;
}
.menu-cluster{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw 12px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 16px;
}
.menu-chip{
    width: 48%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-radius: 16px;
    background-color: #FFFCF8;
    border: 1px solid #E5D5C1;
    font-size: 16px;
    color: #726A55;
    font-weight: medium;
    white-space: nowrap;
}
.menu-chip > .text:first-child {
    display: flex;
    align-items: center;
}
.menu-icon {
    display: block;
    transform: translateY(-4px);
    padding-right: 2px;
}


/*----------------detail-Review-----------------*/
.review-list-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    padding-bottom: 32px;
}
.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 9px;
    border-bottom: 1px solid #E5D5C1;
}
.review-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-top: 32px;
}
.review-top>:first-child{
    padding-right: 16px;
}
.star{
    transform: translateY(2px);
}
.review-like-bts {
    padding-top: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: medium;
    color: #B5AD95;
    border: none;
    background-color: transparent;
}
.review-photo{
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
    width: 10vw;
    height: 10vw;
    flex-direction: row;
    box-sizing: border-box;
}
.review-photo img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

/*----------------detail-Photo-----------------*/
/* 캐러셀 */
.photos-box{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 94%;
    gap: 9px;
    border-bottom: 1px solid #E5D5C1;
    position: relative;
}
.slider-wrapper {
    position: relative;
    width: 49vw; /*이미지 3개만 보이게 설정*/
    overflow: hidden;
    margin: 0 auto;
}
.photos {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 2vw;
    height: 13vw;
    transition: transform 0.3s ease;
    flex-wrap: nowrap;
    border-radius: 15px;
    box-sizing: border-box;
}
.rendered-review-photo {
    flex: 0 0 auto;
    width: 15vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}
.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--card);
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.photos-box .prev {
    left: 0;
}
.photos-box .next {
    right: 0;
}



/*----------모달 레이어----------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
.modal.active {
    display: flex;
    cursor: pointer;
}
.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 200px;
}
.modal_popup {
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    border: 1px solid var(--border);
    width: 400px;
    height: 400px;
    max-width: 500px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close_btn {
    color: var(--text-main);
    float: right;
    font-size: 24px;
    font-weight: bold;
}
.share-options {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 30px; 
}
.share-btn {
    width: 150px;
    height: 150px;
    padding: 10px 10px;
    background-color: #ffffff;
    font-weight: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    color: var(--text-main); 
}
.shareImg{
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 20px;
}
.share-btn img {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: #ffffff;
}
.copy-link-area {
    display: flex;
    align-items: center;
}
#copyLinkInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ffffff;
    color: var(--text-sub);
    cursor: text;
    user-select: all;
}
.copy-btn {
    padding: 8.5px 15px;
    background-color: var(--primary);
    border: 1px solid var(--border);
    color: #ffffff;

    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    cursor: pointer;
    white-space: nowrap;
}
/*---------------반응형-------------*/
@media (max-width: 950px) {

    .top-container > .detail-container {
        order: 1;
    }
    .top-container > .detailpage-container {
        order: 2;
        width: 100%; 
        padding: 0 40px; 
        margin: 0 16px;
        box-sizing: border-box;
    }
    .detail-container {
        flex-direction: column;
        width: 100%;
        padding: 0 16px;
        height: auto; 
        min-height: auto; 
    }
    .detail-container .photos-container,
    .detail-container .info-container {
        width: 100%; 
        margin-bottom: 20px;
    }

    .info-container .info {
        padding: 16px; 
    }
    .photos-container {
        height: auto; 
        flex-shrink: 1;
    }
    .main-photo,
    .sub-photo {
        height: auto; 
    }
}